{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    <link href="{% static 'giftcard_application/css/landing_page.css' %}" rel="stylesheet" />
    
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  </head>
  <body>

    <div class="container my-5">
      <div class="row">
        <div class="col">

      <h1>Gift Card Coin Flip</h1>
      <p>The niftiest little game that you've never heard of</p>

      <button type="button" class="btn btn-dark" onclick="makeCard()" id="generate_giftcard_btn">Generate New Giftcard</button>


      <button type="button" class="btn btn-dark" id="flip_coin_button" onclick="payForCoinFlip()">Flip Coin</button>

      <div class="giftcard_message_wrapper" id="giftcard_message_wrapper">
      </div>

      <div class="wrapper_flip_coin">
        <div class="container my-5 wrapper_flip_coin_container" id="flip_coin">
        </div>
      </div>

      <div class="row">
        <div class="col">
          <div class="score_system_title" id="score_system_heads">
            <p></p>Tally
          </div>
        </div>


        <div class="col">
          <div class="score_system_title" id="score_system_heads">
            Heads <p id="heads_count">0</p>
          </div>
        </div>

        <div class="col">
          <div class="score_system_title" id="score_system_tails">
            Tails <p id="tails_count">0</p>
          </div>
        </div>
      </div>

          <div class="wrapper_flip_coin_result" id="flip_coin_result">
              <img src="{% static 'giftcard_application/images/heads_coin.webp' %}" id="wrapper_flip_coin_result_img_heads">

              <img src="{% static 'giftcard_application/images/flip_prompt.jpg' %}" id="flip_prompt">

              <img src="{% static 'giftcard_application/images/tails_coin.webp' %}" id="wrapper_flip_coin_result_img_tails">

              <img src="{% static 'giftcard_application/images/Golden-Gift-Card.jpg' %}" id="giftcard_img">

            
          </div>
        </div>
        <div class="col">
          <div class="scoreboard_wrapper">
            <div class="container scoreboard_wrapper_container">
              <br>
              <br>
              <br>
              <p class="scoreboard_title">Games Played</p>

              <div class="row container scoreboard_wrapper_container_row">
                <div class="col container scoreboard_wrapper_container_row_col">
                  Game ID
                </div>
                <div class="col container scoreboard_wrapper_container_row_col">
                  (p) Heads
                </div>
                <div class="col container scoreboard_wrapper_container_row_col">
                  (p) Tails
                </div>
              </div>
              <div id="scoreboard_wrapper_container_list"></div>
            </div>
          </div> 
        </div>
      </div>
    </div>


    <div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="toast-header">
    <strong class="me-auto">Flip Successful, you have £X left</strong>

    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
  </div>
  <div class="toast-body">
    You have £25 remaining
  </div>
</div>


    <!-- TEMPORARILY REMOVE THIS

    <div class="container my-5 chart_container">
      <p class="chart_container_title">
        Distribution Of Heads
      </p>
      <canvas id="heads_chart"></canvas>

    </div>

    <div class="container my-5 chart_container">
      <p class="chart_container_title">
        Distribution Of Tails
      </p>
      <canvas id="tails_chart"></canvas>

    </div>-->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

    <!--<script>
      document.getElementById("generate_giftcard_btn").onclick = function() {
      var toastElList = [].slice.call(document.querySelectorAll('.toast'))
      var toastList = toastElList.map(function(toastEl) {
        return new bootstrap.Toast(toastEl)
      })
      toastList.forEach(toast => toast.show())
    }
    </script>-->

    <script>


      

      var coin_flip_heads = document.getElementById('wrapper_flip_coin_result_img_heads');
      var coin_flip_tails = document.getElementById('wrapper_flip_coin_result_img_tails');
      var giftcard_img = document.getElementById('giftcard_img');
      var flip_prompt_img = document.getElementById('flip_prompt');

      var giftcard_message = document.getElementById('giftcard_message_wrapper');

      var generate_giftcard_btn = document.getElementById('generate_giftcard_btn');
      var flip_coin_btn = document.getElementById('flip_coin_button');

      var score_system_heads = document.getElementById('heads_count');
      var score_system_tails = document.getElementById('tails_count');

      var heads_count = 0;
      var tails_count = 0;

      score_system_heads.innerHTML = heads_count;
      score_system_tails.innerHTML = tails_count;

      //scoreboard
      scoreboard_list = document.getElementById('scoreboard_wrapper_container_list')

      flip_coin_btn.disabled = true;

      async function makeCard(){

        Swal.fire({
          position: 'center',
          icon: 'success',
          title: 'A giftcard has been created',
          showConfirmButton: false,
          timer: 1500
        })


        //Hide both heads and tails.
        coin_flip_heads.style.display = 'none';
        coin_flip_tails.style.display = 'none';

        //When new card is created then user can add stuff again
        flip_coin_btn.disabled = false;


        //Reset the counter globally when a new giftcard is made
        //Reset the content of div
        reset_counter();
        disable_generate_giftcard();
    
        



      console.log('function activated');
      var giftcard_url = "{% url 'giftcard_api:giftcards' %}";



       await fetch(giftcard_url, {
              method: 'POST',
              headers: {
                'Content-Type': 'application/json',
            },

        })
      .then((resp) => {

      if (resp.status === 200){
        console.log(resp)
        return resp.json()
        }
      throw new Error("The dates could not be fetched.")
      })
      .then(function(data){
          console.log(data);
          //Sets global variable

          card_number = data.identifier;
          gift_card_info = data;
          //giftcard_created_message();
          //disable_button();
          flip_prompt_display();

      })
      .catch((error) => {
      console.log(error)
      });

    }

    function flip_prompt_display(){
      flip_prompt_img.style.display = 'block';
      return;
    }

    function disable_generate_giftcard(){
        generate_giftcard_btn.disabled = true;
        giftcard_img.style.display = 'none';
        return;
      }


    function reset_counter(){
      heads_count = 0;
      tails_count = 0;

      score_system_heads.innerHTML = 0;
      score_system_tails.innerHTML = 0;
    }

    function giftcard_created_message(){

        const message = `giftcard has been issued ! `;

        //Pass this message to a toast or something

        return;
    }

    async function payForCoinFlip(){

      flip_coin_btn.disabled = true;

      giftcard_message.innerHTML = ``

      var coin_flip_wrapper = document.getElementById('flip_coin');
      if (typeof card_number !== 'undefined') {
        
         var giftcard_detail_url = "{% url 'giftcard_api:giftcards' %}" + card_number + "/details/";
          
          

        await fetch(giftcard_detail_url, {
                method: 'PATCH',
                headers: {
                  'Content-Type': 'application/json',
              },
          })
        .then((resp) => {

        if (resp.status === 200){

          console.log(resp)
          return resp.json()

          }
        throw new Error("The dates could not be fetched.")
        })
        .then(function(data){

          console.log(data);

          flip_prompt_hide();
          coinFlip(); 

          flip_coin_btn.disabled = false;

          const credit_rem = data.credit_remaining;

          if (credit_rem == 0){
            console.log("If credit_remaining = 0 then disable button");
            
            alert("heads: " + heads_count + " tails: " + tails_count);

            disable_flip_button();
            calculate_head_tail_ratio_stat();
            submit_to_scoreboard_question();
            allow_generate_giftcard();

          } 

          return


        })
        .catch((error) => {
        console.log(error)
        });
      } else {


        console.log("type not defined");
        alert("code from here on out doesn't work");
        const message = `<p class="error_coin_flip>Please Generate A Gift Card First..</p>`;

        coin_flip_wrapper.innerHTML = message;
        }

      }

      function flip_prompt_hide(){
        if (flip_prompt_img.style.display !== 'none'){
        flip_prompt_img.style.display = 'none';
        return;
      }
      return
    }


      function disable_flip_button(){
        flip_coin_btn.disabled = true;
        return
      }



      function coinFlip(){
        console.log("Thanks for playing !");

        var heads_tails = Math.round(Math.random());

        if (heads_tails == 1){

          coin_flip_heads.style.display = 'block';
          coin_flip_tails.style.display = 'none';

          score_system_heads.innerHTML = ++heads_count;
          

          return

        } else {

          coin_flip_heads.style.display = 'none';
          coin_flip_tails.style.display = 'block';
          
          score_system_tails.innerHTML = ++tails_count;
    
          

          return

        }

      }



      function calculate_head_tail_ratio_stat(){

        heads_statistic = heads_count / 25;
        tails_statistic = tails_count / 25;

        return

      }


      function allow_generate_giftcard(){
        generate_giftcard_btn.disabled = false;
        giftcard_img.style.display = 'none';
        return
      }

      function submit_to_scoreboard_question(){

        Swal.fire({
          title: 'Save to the scoreboard?',
          showDenyButton: true,
          confirmButtonText: 'Save',
          denyButtonText: `Don't save`,
        }).then((result) => {
          /* Read more about isConfirmed, isDenied below */
          if (result.isConfirmed) {

            submit_to_scoreboard();
            //Swal.fire('Sending info to scoreboard...');
            console.log('display a wheel whilst POST is happening');
            return;

          } else if (result.isDenied) {
            Swal.fire('Add your score next time !');
            return;
          } else {
            submit_to_scoreboard_question();
          }
        })
      }

      async function submit_to_scoreboard(){

        var scoreboard_url = "{% url 'giftcard_api:scoreboard' %}";

        data = {
          'probability_heads': heads_statistic,
          'probability_tails': tails_statistic,
        }


        await fetch(scoreboard_url, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(data)
          })
        .then((resp) => {

        if (resp.status === 200){
          console.log(resp)
          return resp.json()
          }
        throw new Error("The dates could not be fetched.")
        })
        .then(function(data){
            
            //We want to append the data after the game ends.
            
            var row = `
              <div class="row">
                <div class="col">
                  ${data.score_id}
                </div>
                <div class="col">
                  ${data.probability_heads}
                </div>
                <div class="col">
                  ${data.probability_tails}
                </div>
              </div>

            `

            scoreboard_list.innerHTML += row;

        })
        .catch((error) => {
        console.log(error)
        });

      }

      //begin this function upon page load

      get_scoreboard();

      async function get_scoreboard(){
        var scoreboard_url = "{% url 'giftcard_api:scoreboard' %}";

        await fetch(scoreboard_url, {
          method: 'GET',
          headers: {
            'Content-Type': 'application/json',
          },
          })
        .then((resp) => {

        if (resp.status === 200){
          console.log(resp)
          return resp.json()
          }
        throw new Error("The dates could not be fetched.")
        })
        .then(function(data){
          console.log(data);
          build_scoreboard(data);
          create_heads_tails_array(data);
          addData_graphs();

        })
        .catch((error) => {
        console.log(error)
        });

      }

      function build_scoreboard(data){
        if (data.length == 0){
          message = "Sorry but there are no scores yet.";
          return message;
        } else {

          for (var i in data){

            data_entry = data[i];

            var row = `
              <div class="row">
                <div class="col">
                  ${data_entry.score_id}
                </div>
                <div class="col">
                  ${data_entry.probability_heads}
                </div>
                <div class="col">
                  ${data_entry.probability_tails}
                </div>
              </div>

            `

            scoreboard_list.innerHTML += row;

          }
          return
      
          //for every item in the data, place it in score board container.

        }
      }


      function create_heads_tails_array(data){
        
        //Data needs to be in particular format
        //To be consumed by graphs.

        list_all_heads = [];
        list_all_ids = []
        list_all_tails = [];

        for (var i in data){

            data_entry = data[i];
            list_all_heads.push(data_entry.probability_heads);
            list_all_tails.push(data_entry.probability_tails);
            list_all_ids.push(data_entry.score_id);
      }
      return
    }

    function addData_graphs(){
      headChart.data.labels.push(list_all_ids);
      headChart.data.datasets.forEach((dataset) => {
          dataset.data.push(list_all_heads);
      });
      headChart.update();

      tailChart.data.labels.push(list_all_ids);
      tailChart.data.datasets.forEach((dataset) => {
          dataset.data.push(list_all_tails);
      });
      tailChart.update();

    }
   

      //fetch all score data,
      //find average of all heads and feed into graphy
      //Do same with tails

      const head = document.getElementById('heads_chart').getContext('2d');
      const headChart = new Chart(head, {
          type: 'bar',
          data: {
              labels: [],
              datasets: [{
                  data: [],
                  backgroundColor: [
                      'rgba(255, 99, 132, 0.2)',
                  
                      
                  ],
                  borderColor: [
                      'rgba(255, 99, 132, 1)',
         
                     
                  ],
                  borderWidth: 0.2
              }]
          },
          options: {
              scales: {
                  y: {
                      beginAtZero: true
                  }
              }
          }
      });


      const tail = document.getElementById('tails_chart').getContext('2d');
      const tailChart = new Chart(tail, {
          type: 'bar',
          data: {
              labels: [],
              datasets: [{
                  data: [],
                  backgroundColor: [
                   
                      'rgba(54, 162, 235, 0.2)',
                      'rgba(54, 162, 235, 0.2)',
                      'rgba(54, 162, 235, 0.2)'
                      
                  ],
                  
                  borderWidth: 1
              }]
          },
          options: {
              scales: {
                  y: {
                      beginAtZero: true
                  }
              }
          }
      });
</script>

  <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  </body>
</html>